:root {
  --heart-color: #e63946;
  --hover-color: #c1275c;
  --background-color: #ebc8c0;
  --white: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: var(--heart-color);
  background-image: url("images/mini-hearth.png");
  background-size: 50%;
  line-height: 1.5;
}

.valentine-card {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.valentine-title {
  font-size: 24px;
  margin-top: 0;
}

.valentine-heart {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.valentine-button {
  background-color: var(--heart-color);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 80px;
}

.valentine-button.no-button {
  background-color: var(--white);
  color: var(--heart-color);
  border: 1px solid var(--heart-color);
}

.valentine-button.error-button {
  width: 100%;
  display: none;
}

.valentine-button:focus {
  outline: none;
}

.valentine-text {
  font-size: 14px;
  margin-top: 30px;
}

.img-fluid {
  width: 100%;
  height: auto;
}
